body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1 0 auto;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.mw-60 {
    max-width: 60px;
}